$bgColor: #ebecf2;
$iconActiveColor: #383838;
$iconColor: #d4d4d4;
$ColorWhite: #fff !important;
$ColorInfo: #36a3f7 !important;
$ColorDanger: #f4516c !important;
$ColorSuccess: #34bfa3 !important;
$ColorLightPurple: #a593e0 !important;
$ColorDarkPurple: #716aca !important;

$left-sidebar-width: 178px;

$font-dosis: Dosis, "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-pingfang: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-icomoon: "icomoon";
$font-poppins: "Poppins", sans-serif;
@font-face {
  font-family: "Dosis";
  src: url("../assets/fonts/Dosis-Book.ttf");
}
@font-face {
  font-family: "icomoon";
  src: url("../assets/fonts/icomoon.ttf");
}
@font-face {
  font-family: 'iconfont';
  src:url('../assets/fonts/iconfont.ttf');
}
