$bgColor: #fbfbfb;
$iconActiveColor: #383838;
$iconColor: #d4d4d4;
$dataUpColor: #69de6d;
$dataDownColor: #fc3e3e;
$font-dosis: Dosis, 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue',
  Helvetica, Arial, sans-serif;
$font-pingfang: 'PingFang SC', 'Microsoft YaHei', 'Helvetica Neue', Helvetica,
  Arial, sans-serif;
@font-face {
  font-family: 'Dosis';
  src: url('../assets/fonts/Dosis-Book.ttf');
}
