$bgColor: #fbfbfb;
$iconActiveColor:#383838;
$iconColor:#d4d4d4;
$dataUpColor:#69de6d;
$dataDownColor:#fc3e3e;
$font-dosis: Dosis,sans-serif;
@font-face{
  font-family: "Dosis";
  src: url(../assets/fonts/Dosis-Book.ttf);
}