/* @media (min-width:1200px){*/


.row {
  // 时间卡片
  .item-time_data:first-child {
    margin-bottom: 20px;
  }
  .item-time_data {
    h2 {
      margin-bottom: 10px;
      font-size: 23px;
    }

    h3 {
      color: #585a61;
      font-size: 20px;
      letter-spacing: 0.2rem;
      text-transform: capitalize;
      white-space: nowrap;

      span {
        margin-left: 15px;
        color: #c8c8c8;
        font-size: 14px;
      }
    }
  }

  // 汇率卡片
  .money-inner {
    padding: 1.5rem;
    padding-bottom: 0;
  }
  .money-container {
    .moneyName-container {
      .percent-container {
        margin-bottom: 10px;
        .percent {
          font-size: 16px;
          font-weight: 300;
        }
      }
    }

    .exchange {
      text-align: center;
      color: #787878;
      font-size: 23px;

      .exchange_1 {
        margin: 0 0 10px 0;
      }

      .sync-icon {
        width: 20px;
        margin: 0 auto 10px;
      }

      .rmb {
        margin: 0;

        span {
          font-size: 23px;
          font-weight: 500;
        }
      }
    }
  }

  .item-exchange_money:last-child {
    margin-right: 0;
  }

  // 进度卡片
  .progress-inner {
    p {
      margin: 0;
      font-size: 16px;
    }

    span {
      float: right;
    }

    .progress-container:last-child {
      .progress {
        margin-bottom: 0;
      }
    }

    .progress {
      margin-top: 0.5rem;
      margin-bottom: 2rem;
      height: 0.3rem;
      border-radius: 0.25rem;
      background-color: #eee;
    }

    .progress-bar {
      width: 0%;
      height: 100%;
      border-radius: 0.25rem;
      transition: width 0.5s ease;
    }

    span {
      font-size: 15px;
      margin-left: 10px;
    }
  }

  // 网站浏览数据卡片
  .website-inner {
    padding-bottom: 0;
  }
  .item-website {
    height: 400px;
    min-height: 400px;
  }

  // 网站详细数据卡片
  .origin-inner {
    padding: 1.5rem;
    padding-bottom: 1rem;

    h3 {
      font-size: 8vh;
      text-align: center;
      color: #585a61; /* TODO:使用sassb变量*/
      line-height: 1.5;
    }

    .m-weight1 {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: calc(100% - 18px);
      .m-weight1__list{
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
/* }*/